* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#111, #222);
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: red;
    position: absolute;
    clip-path: circle(35% at right 70%);
    z-index: -1;
}

.container {
    background: rgba(225, 225, 225, 0.2);
    width: 80%;
    height: 80%;
    border-radius: 20px;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

nav .logo {
    color: aliceblue;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 700;
}

nav ul li {
    display: inline-block;
    margin: 0 6px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: aliceblue;
}

nav ul li a:hover {
    color: rgb(236, 1, 1);
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.content .text {
    color: aliceblue;
    width: 40%;
}

.content .text h1 {
    width: 20%;
    font-size: 40px;
    text-transform: uppercase;
}

.content .text p {
    font-size: 18px;
    line-height: 25px;
}

.content .image {
    width: 40%;
}

.content .image img {
    width: 350px;
}

@media (min-width:950px) and (max-width: 1150px) {
    .content .image img {
        width: 250px;
    }
}

@media (max-width: 950px) {
    .content {
        flex-direction: column;
        justify-content: center;
    }

    .content .image img {
        width: 200px;
    }

    .content .image,
    .content .text {
        width: 80%;
    }

    nav {
        flex-direction: column;
        justify-content: center;
    }

    .container {
        height: 100%;
    }

    body::after {
        clip-path: circle(50% at bottom);
    }
}